<!DOCTYPE html>
<head>
  <title>データ容量変換アプリ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h3>データ容量変換アプリ バイト演算(Byte operation)</h3>
    </div>
  </div>

  <div id="app">
    <div class="container">
      <div class="pb-2">
        <input type="text" placeholder="変換するデータを入力してください。" v-model="input_data_size" size="50%">
        <div class="error" v-if="error.noNumber">数値を入力してください。</div>
        <div class="error" v-if="error.require">必須項目です。</div>
        <!-- <div class="alert alert-danger" role="alert">
          A simple danger alert—check it out!
        </div> -->
      </div>

      <div class="pb-2">
        <label>変換元のデータサイズを選択してください。</label>
        <select v-model="select_data_size">
          <option value="b">バイト(B)</option>
          <option value="kb">キロバイト(KB)</option>
          <option value="mb">メガバイト(MB)</option>
          <option value="gb">ギガバイト(GB)</option>
          <option value="tb">テラバイト(TB)</option>
          <option value="pb">ペタバイド(PB)</option>
          <option value="eb">エクサバイト(EB)</option>
          <option value="zb">ゼタバイト(ZB)</option>
          <option value="yb">ヨタバイト(YB)</option>
        </select>
      </div>

      <div class="pb-2">
        <button v-on:click="calc">計算</button>
        <button v-on:click="clear">クリア</button>
        <!-- <select v-model="select_data2" class="">
          <option value="0">6桁</option>
          <option value="1">10桁</option>
          <option value="2">14桁</option>
          <option value="3">18桁</option>
          <option value="4">22桁</option>
          <option value="5">26桁</option>
          <option value="6">30桁</option>
          <option value="7">34桁</option>
          <option value="8">38桁</option>
          <option value="9">42桁</option>
          <option value="10">46桁</option>
          <option value="11">50桁</option>
        </select> -->
      </div>
      <hr>
      <!-- TODO テキストのサイズを考えておく -->
      <div class="container">
        <ol>バイト<input type="text" v-model="text_data1">(B)</ol>
        <ol>キロバイト<input type="text" v-model="text_data2">(KB)</ol>
        <ol>メガバイト<input type="text" v-model="text_data3">(MB)</ol>
        <ol>ギガバイト<input type="text" v-model="text_data4">(GB)</ol>
        <ol>テラバイト<input type="text" v-model="text_data5">(TB)</ol>
        <ol>ペタバイド<input type="text" v-model="text_data6">(PB)</ol>
        <ol>エクサバイト<input type="text" v-model="text_data7">(EB)</ol>
        <ol>ゼタバイト<input type="text" v-model="text_data8">(ZB)</ol>
        <ol>ヨタバイト<input type="text" v-model="text_data9">(YB)</ol>
        <br>
        1K = 1024
      </div>
      <hr>
      <footer>
        <div class="container">
          <p>Copyright &copy; 2020 Yoshiyuki Sugiyama All right reserves.</p>
        </div>
      </footer>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
