<!DOCTYPE html>
<head>
  <title>データ容量変換アプリ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.2.3/dist/vee-validate.js"></script> 
  <script src="https://cdn.jsdelivr.net/npm/vee-validate@3.2.3/dist/rules.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-input-autowidth@1.0.10/dist/index.umd.min.js"></script>
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h3>データ容量変換アプリ バイト演算(Byte operation)</h3>
    </div>
  </div>

  <div id="app">
    <div class="container">
      <div>
        <validation-observer ref="observer" v-slot="observer">
          <div class="filed">
            <label>変換するデータ</label>
            <validation-provider name="data_size" :rules="{ regex: /^[0-9]+(?:,[0-9]+)*$/ , required: true}">
              <div slot-scope="ProviderProps">
                <input name="text" v-model="input_data_size" placeholder="変換するデータを入力してください。"
                  v-autowidth="{maxWidth: '300px', minWidth: '10px', comfortZone: 0}"><br>
                <span>  例：100、 123,456</span>
                <p id="input_data_size_error_message" class="text-danger">{{ ProviderProps.errors[0] }}</p>
              </div>
            </validation-provider>
          </div>  
          <div class="pb-2">
            <label>変換元のデータサイズを選択してください。</label>
            <select v-model="select_data_size">
              <option value="Byte">バイト(B)</option>
              <option value="KB">キロバイト(KB)</option>
              <option value="MB">メガバイト(MB)</option>
              <option value="GB">ギガバイト(GB)</option>
              <option value="TB">テラバイト(TB)</option>
              <option value="PB">ペタバイド(PB)</option>
              <option value="EB">エクサバイト(EB)</option>
              <option value="ZB">ゼタバイト(ZB)</option>
              <option value="YB">ヨタバイト(YB)</option>
            </select>
          </div>
          <div class="pb-2">
            <button @click="calc" :disabled="!observer.valid">計算</button>
            <button @click="clear">クリア</button>
            <button @click="all_clear">計算結果全クリア</button>
            <select v-model="select_data_digits">
              <option value="6">6桁</option>
              <option value="10">10桁</option>
              <option value="14">14桁</option>
              <option value="18">18桁</option>
              <option value="22">22桁</option>
              <option value="26">26桁</option>
              <option value="30">30桁</option>
              <option value="34">34桁</option>
              <option value="38">38桁</option>
              <option value="42">42桁</option>
              <option value="46">46桁</option>
              <option value="50">50桁</option>
            </select>
          </div>
        </validation-observer>
      </div>
      <hr>
      <data-size
        v-for="result in results"
        v-bind:key="result.id"
        v-bind:data="result">
      </data-size>
      <br>
      <div class="container">1K = 1024</div>
      <hr>
      <footer>
        <div class="container">
          <p>Copyright &copy; 2020-2021 Yoshiyuki Sugiyama All right reserves.</p>
        </div>
      </footer>
    </div>
  </div>
  <script src="index.js"></script>
</body>
</html>
